page-mHub {
    .mBack{
        ion-card{
        background-color: khaki;
        text-align: center;
        position: absolute;
        font-size: xx-large;
        width: 100%;
        height: 100%;
        }
    }
}