<!doctype html>

<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
<title> Index Page </title>
</head>
<body>
<header class="w3-container w3-teal w3-round-large">
  <h1>Header</h1>
</header> 
<div class="w3-card-4 w3-round-large ">
  <div class="w3-container w3-center">
    <img src="background.jpg" alt="welcome"  class="w3-round-large">
  </div>
</div>
    <div class="w3-container w3-sand w3-center">
        <p>Welcome to my app</p>
        <p> This app will take a look and both <a href="http://www.mentalhealthireland.ie" style="color:pink" target="_blank"  style="text-decoration: none"> Mental Health</a> And <a href="http://www.thinkcontraception.ie/Find-a-Service-or-Support/Sexual-Health-Links.151.1.aspx" target="_blank" style="color:darkgoldenrod"  style="text-decoration: none">  Sexual Health </a>, detailing the affects of each,
            The supports your there for each, and helping the user find their local supports and providing well needed information,
            and shaking away any misconceptions about each.

        </p>
    </div>
<footer  class="w3-container w3-teal w3-round-large"> 
    <h5>Footer</h5>
</footer>
</body>
</html>