<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
<title>  Map Hub </title>
</head>
<body>
    <header class="w3-container w3-teal w3-round-large">
    <h1> Mental Health</h1>
    </header> 
    <div class="w3-card-4  w3-sand">
    <div class="w3-container w3-center">
    </div>
    </div>
    <div class="w3-container w3-sand w3-center">
        <h1> Choose what you are looking for on the  Map </h1>
        <form action="/map3">
            <button type="submit" class="w3-round-large w3-Pink w3-button w3-block" >Local Mental Health </button>
        </form>
        <form action="/map1">
            <button type="submit" class="w3-round-large w3-Grey w3-button w3-block" > nearest shop to buy condoms </button>
        </form>
        <form action="/map2">
            <button type="submit" class="w3-round-large w3-Yellow w3-button w3-block" >Nearest clinic or doctor</button>
        </form>
    </div>
    <form action="/">
        <button type="submit" class="w3-round-large w3-blue w3-button w3-block" > Go home </button>
    </form>
    <footer  class="w3-container w3-teal"> 
        <h5> Mental Health</h5>
    </footer>
</body>
</html>