<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
<style>
    p{
     text-align: left
    }
    h3{
        text-align: left;
        color: red;
    }
    li{
        text-align: left;
    }
    #cs{
        text-align: left;
    }
      a:link{
            text-decoration: none;
        }
</style>
<title>Sexual Health Hub</title>

</head>
<body>
    <header class="w3-container w3-teal w3-round-large">
    <h1>Sexual Health</h1>
    </header> 
    <div class="w3-container w3-sand w3-center">
        <div class="w3-card-2 w3-right">
        <a class="twitter-timeline" data-lang="en" data-width="250" data-height="350" href="https://twitter.com/thinkjohnny?lang=en">Tweets by Think Contraception</a> 
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
       <h2><b>What is an STI?</b></h2> 
        <p class="w3-left">An STI is a sexually transmitted infection. STIs are passed on through sexual contact with someone who is infection</p>
        <br />
        <br />
        <h3>STI Facts and Common Misconceptions</h3>
        <p> - You can get a STI more than once. You do not build immunity against STIs if you contract one you are always at risk of contracting one when having unprotected sex. 
            <br />- You cannot donate blood for five years if you have contracted and been treated for a STI.
            <br />- You can get a STI from oral sex. A big misconception is you are safe from STIs while having oral sex, you are at as much risk during unprotected     oral as you are during vaginal or anal sex.
            <br />- STIs can go unnoticed as symptoms don't always show. This is even more common in women as symptoms on average are less likely to show.      It is important to get checked regularly after ever new partner.
            <br />- You can have multiple STIs at the one time. Going unchecked after unprotected sex can leave you at huge risk.
            </p>
            <h2 style="color:#CCCC00"> Below is a playlist of informative videos on Sexual health and STIs</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLVSb4tzrs0wJL--zb-lmklsfMGqHPZXuV" frameborder="0" allowfullscreen></iframe>
            <br />
            <h2 id="CS">Common STIs </h2>
            <p>click on each below to learn the cause and symptoms</p>
            <li><a href="http://www.thinkcontraception.ie/STIs/Chlamydia.119.1.aspx"  target="_blank">Chlamydia</a>  
            <li><a href="http://www.thinkcontraception.ie/STIs/Gonorrhoea.120.1.aspx" target="_blank"> Gonorrhoea </a>
            <li><a href="http://www.thinkcontraception.ie/STIs/HIV.133.1.aspx" target="_blank"> HIV</a>
            <li><a href="http://www.thinkcontraception.ie/STIs/Syphilis.129.1.aspx" target="_blank"> Syphilis </a>
            <li><a href="http://www.thinkcontraception.ie/STIs/Scabies.130.1.aspx" target="_blank"> Scabies </a>
            <li><a href="http://www.thinkcontraception.ie/STIs/Herpes.134.1.aspx" target="_blank"> Herpes </a>
            <li><a href="http://www.thinkcontraception.ie/STIs/Thrush-Candida.126.1.aspx" target="_blank"> Thrush-Candida </a>
            <li><a href="http://www.thinkcontraception.ie/STIs/Pubic-Lice-Crabs.123.1.aspx" target="_blank"> Pubic-Lice(Crabs) </a>
            <li><a href="http://www.thinkcontraception.ie/STIs/Genital-Warts.121.1.aspx" target="_blank"> Genital-Warts </a>
        </div>
    <form action="/">
        <button type="submit" class="w3-round-large w3-blue w3-button w3-block" > Go home </button>
    </form>
    <footer  class="w3-container w3-teal w3-round-large w3-right-align"> 
        <h5>Sexual Health</h5>
    </footer>
</body>
</html>