<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
<title>Sexual Health Hub</title>
</head>
<body>
    <header class="w3-container w3-teal w3-round-large">
    <h1>Sexual Health</h1>
    </header> 
    <div class="w3-container w3-sand w3-center">
        <div class="w3-card-2 w3-right">
        <a class="twitter-timeline" data-lang="en" data-width="250" data-height="350" href="https://twitter.com/thinkjohnny?lang=en">Tweets by Think Contraception</a> 
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
        <p>Sexual</p>
    </div>
    <form action="/">
        <button type="submit" class="w3-round-large w3-blue w3-button w3-block" > Go home </button>
    </form>
    <footer  class="w3-container w3-teal w3-round-large"> 
        <h5>Sexual Health</h5>
    </footer>
</body>
</html>